@model Projekt_strona.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Samochody dostępne do wynajęcia</h2>
<table class="table">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Rok</th>
            <th>Dostępny</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars.Items)
        {
	        if (@car.IsAvailable)
	        {
		        <tr>
			        <td>@car.Make</td>
			        <td>@car.Model</td>
			        <td>@car.Year</td>
			        <td>@(car.IsAvailable ? "Tak" : "Nie")</td>
		        </tr>    
	        }
        }
    </tbody>
</table>

<div>
    @if (Model.Cars.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-carsPageIndex="@(Model.Cars.PageIndex - 1)" asp-route-carsPageSize="@Model.Cars.PageSize" asp-route-customerPageIndex="@Model.Customers.PageIndex" asp-route-customerPageSize="@Model.Customers.PageSize" class="btn btn-primary">Poprzednia</a>
    }
    @if (Model.Cars.HasNextPage)
    {
        <a asp-action="Index" asp-route-carsPageIndex="@(Model.Cars.PageIndex + 1)" asp-route-carsPageSize="@Model.Cars.PageSize" asp-route-customerPageIndex="@Model.Customers.PageIndex" asp-route-customerPageSize="@Model.Customers.PageSize" class="btn btn-primary">Następna</a>
    }
</div>